@font-face{
font-family: Mont;
src: url("Mont.ttf");
}

@font-face{
font-family: Open;
src: url("Open.ttf");
}

body{
background: linear-gradient(315.32deg, #2E2E2E 24.86%, #414141 100%);
overflow: hidden;
}

#nav{
box-sizing: border-box;

position: absolute;
width: 397px;
height: 73px;
left: calc(50% - 397px/2 + 0.5px);
top: 33px;

background: rgba(30, 30, 30, 0.2);
border: 1px solid rgba(255, 255, 255, 0.2);
border-radius: 50px;
}

#nav-title{
position: absolute;
width: 221px;
height: 61px;
left: calc(50% - 221px/2 - 61.5px);
top: 39px;

font-family: Mont;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;

/* identical to box height */

color: #FFFFFF;
}

#num1-box{
cursor: pointer;
position: absolute;
width: 85px;
height: 85px;
left: 93px;
top: calc(50% - 85px/2 - 215px);
z-index: 2;
background: rgba(217, 217, 217, 0.2);
border: 4px solid rgba(0, 0, 0, 0.2);
border-radius: 50%;
transition: all .3s;
}

#num2-box{
cursor: pointer;
position: absolute;
width: 85px;
height: 85px;
left: 93px;
top: calc(50% - 85px/2 - 75px);
z-index: 2;
border: 4px solid rgba(0, 0, 0, 0.2);
filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
border-radius: 50%;
transition: all .3s;
}

#num3-box{
cursor: pointer;
position: absolute;
width: 85px;
height: 85px;
left: 93px;
top: calc(50% - 85px/2 + 65px);
z-index: 2;
border: 4px solid rgba(0, 0, 0, 0.2);
filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
border-radius: 50%;
transition: all .3s;
}

#num4-box{
cursor: pointer;
position: absolute;
width: 85px;
height: 85px;
left: 93px;
top: calc(50% - 85px/2 + 205px);
z-index: 2;
border: 4px solid rgba(0, 0, 0, 0.2);
filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
border-radius: 50%;
transition: all .3s;
}

#num1{
position: absolute;
width: 29px;
height: 68px;
left: 125px;
top: calc(50% - 68px/2 - 211px);

font-family: Open;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;

/* identical to box height */

color: #FFFFFF;
}

#num2{
position: absolute;
width: 29px;
height: 68px;
left: 125px;
top: calc(50% - 68px/2 - 71px);

font-family: Open;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;

/* identical to box height */

color: #FFFFFF;
}

#num3{
position: absolute;
width: 29px;
height: 68px;
left: 125px;
top: calc(50% - 68px/2 + 70px);

font-family: Open;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;

/* identical to box height */

color: #FFFFFF;
}

#num4{
position: absolute;
width: 29px;
height: 68px;
left: 125px;
top: calc(50% - 68px/2 + 210px);

font-family: Open;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;

/* identical to box height */

color: #FFFFFF;
}

#bar1{
position: absolute;
width: 2px;
height: 47px;
left: 138px;
top: calc(50% - 47px/2 - 140.5px);
z-index: 0;
background: rgba(111, 111, 111, 0.5);
}

#bar2{
position: absolute;
width: 2px;
height: 47px;
left: 138px;
top: calc(50% - 47px/2 - 0.5px);
z-index: 0;
background: rgba(111, 111, 111, 0.5);
}

#bar3{
position: absolute;
width: 2px;
height: 47px;
left: 138px;
top: calc(50% - 47px/2 + 139.5px);
z-index: 0;
background: rgba(111, 111, 111, 0.5);
}

#box{
transition: all 1s;
position: absolute;
left: 234px;
right: 171px;
top: 135px;
bottom: 119px;

background: #2e2e2e;
box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
z-index: 10;
}

#box-shadow{
transition: all .5s;
position: absolute;
left: 282px;
right: 123px;
top: 172px;
bottom: 82px;

background: rgba(217, 217, 217, 0.05);
box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.1);
}

#red-page-number{
transition: all .5s;
position: absolute;
width: 37px;
height: 44px;
left: 87px;
top: 79px;

font-family: Mont;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;

/* identical to box height */
display: flex;
align-items: center;

color: #FF7070;
z-index: 11;
}

#page-title{
transition: all .5s;
position: absolute;
width: 300px;
height: 44px;
left: 145px;
top: 79px;

font-family: Mont;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;

color: #FFFFFF;
z-index: 11;
}

#page-content{
transition: all .5s;
position: absolute;
height: 470px;
left: 87px;
right: 60px;
top: 150px;

font-family: Open;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
display: flex;

color: #FFFFFF;
z-index: 11;
}

#page-consent{
transition: all .5s;
position: absolute;
width: auto;
height: 25px;
left: 87px;
bottom: 82px;

font-family: Open;
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 25px;

/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;
z-index: 11;
}

#discord{
position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2 + 123px);
top: 55px;
transition: filter .3s;
cursor: pointer;
}

#mail{
position: absolute;
width: 28px;
height: 28px;
left: calc(50% - 28px/2 + 163px);
top: 55px;
transition: filter .3s;
cursor: pointer;
}

#discord:hover{
filter: brightness(50%);
transition: filter .3s;
}

#mail:hover{
filter: brightness(50%);
transition: filter .3s;
}

#arrow{
position: absolute;
width: 105px;
height: 105px;
right: 119px;
top: calc(50% - 105px/2);
z-index: 11;
cursor: pointer;
transition: all .5s;
}
